
#title{
    text-align: center;
    color : darkblue;
}
#description p {
    text-align: center;
    color: black;
}

#newArticleForm{
    border: solid black;
    margin-right: 70px;
    margin-left: 70px;
}