{% extends "base.html.twig" %}
{% block home_style %}
<link rel="stylesheet" type="text/css" href="{{asset('/css/home/index.css')}}" />
{% endblock home_style %}

{% block body %}

<title>BLOG</title>
</head>

<header>
    <section class="container-fluid m-0 p0" id="title">
        <div class="row">
            <div class="col-12">
                <!--TITRE DU BLOG-->
                <h1 class="col" id="h1-blog">WELCOME GUYS !</h1>
            </div>
        </div>
    </section>
</header>

<body>
    <main>
        <!--DESCRPTION BREVE DU BLOG-->
        <section class="container" id="description">
            <p> Hey you ! Wanna write something ? Go ahead ! <br> You can talk about every subject you want at least you
                keep it as a save space</p>
        </section>

        <!--ADD POST-->
        <form class="row" method="POST" id="newArticleForm">
            <div class="col-12 m-2  d-flex flex-column align-items-center">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title">
                </div>
                <div class="form-group ">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" name="author">
                </div>
                <div class="form-group ">
                    <label for="content">Your text</label>
                    <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
            </div>
        </form>

        <section>
            <h2 style="align-items: center">All Posts...</h2>
        </section>


        <section>
            <div class="row">
                {% for post in posts %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{post.author}} published at
                                {{ post.postDate|date("d/m/Y") }}</h6>
                            <p class="card-text">{{post.content}}</p>
                            <a href="{{path('one-article', {id: post.id}) }}" target="blank" class="card-link">See the
                                article</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </section>

    </main>
</body>

{% endblock %}