<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

 <a href="{{path('posts')}}">Back to Home</a>

    <form class="row" method="POST">
        <div class="col-12 m-2  d-flex flex-column align-items-center ">
            <div class="form-group">
                <label for="title">New Title</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group ">
                <label for="author">New Author</label>
                <input type="text" class="form-control" name="author">
            </div>
            <div class="form-group ">
                <label for="content">New Content</label>
                <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
    </form>

</body>

</html>