<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{post.title}}</title>
</head>

<body>


    <section class="container-fluid">
        <div class="row">
            <div class="card col-12" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{post.title}}</h2>
                    <h5 class="card-subtitle mb-2 text-muted">{{post.author}} published at {{ post.postDate|date("d/m/Y") }}</h5>
                    <p class="card-text">{{post.content}}</p>
                    <a href="{{path('update_post', {id: post.id}) }}" target="blank" class="card-link">Edit</a>
                    <a href="{{path('delete_post', {id:post.id})}}" class="card-link" target="blank">Delete</a>
                </div>
            </div>
        </div>
    </section>


</body>

</html>